# Logs
backend/logs
backend/*.log
backend/npm-debug.log*

# Dependencies
backend/node_modules/
frontend/node_modules/

# Coverage
backend/coverage
frontend/coverage

# Transpiled files
backend/build/

# JetBrains IDEs
frontend/.idea/

# Optional eslint cache
backend/.eslintcache

# Misc
backend/.DS_Store
.DS_Store

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*
